.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }

  .main-content {
    padding: 20px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  .list-group{
    width: 500px;
    margin: auto;
    padding: 20x;
  }
  ul {
    width:100%;
    background:red;
    height:20px;
    text-align:center;
  }
  h1{
    text-align:center;
  }
  p{
    text-align: left;
  }

  h2{
    text-align:center;
  }